@*
    This view will create a loop that displays "Hello " + name NumTimes times.

    For example, accessing: /HelloWorld/Welcome?name=Rick&numtimes=4 will display "Hello Rick" 4 times.
*@

@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for(int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
